In [14]:
import pandas as pd
import numpy as np

In [2]:
#load coffee dataset 
#test duplicates no_duplicates
coffee = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv')
no_duplicates = coffee.drop_duplicates(subset=['Coffee Type', 'Units Sold'], keep='last', ignore_index=True).copy()

In [38]:
region = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/noc_regions.csv')
bios = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/bios.csv')
coffee = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv')

In [10]:
us1 =bios.loc[bios['born_country'] == 'USA']

us2 = bios.query('born_country == "USA"')

us3 = bios[bios['born_country'] == 'USA']

In [39]:
coffee['price'] = 3.99

In [40]:
coffee['price'] = np.where(coffee['Coffee Type'] == 'Latte', 4.99, coffee['price'])

In [41]:
coffee['revenue'] = coffee['Units Sold'] * coffee['price']

In [43]:
#change born_date to datetime

bios['born_date'] = pd.to_datetime(bios['born_date'], format='%Y-%m-%d')

In [45]:
#get first name and last name from full name
#get year of birth from bios dataset


bios_new = bios.copy()

bios_new['first_name'] = bios_new['name'].str.split(' ').str[0]
bios_new['last_name'] = bios_new['name'].str.split(' ').str[1]

bios_new['year_of_birth'] = bios_new['born_date'].fillna(pd.Timestamp('2020-01-01'))

bios_new['year_of_birth'] = bios_new['born_date'].dt.year

In [57]:
print(os.getcwd())

c:\Users\oemiri\OneDrive - AUBAY\Documents\learning\learn python\2_Advanced\2_advanced

In [65]:
new_df = pd.merge(bios, region, how='left', left_on='born_country', right_on='NOC')

In [68]:
new_df.rename(columns={'region': 'country_name'}, inplace=True)

In [72]:
coffee.groupby('Coffee Type').agg({'Units Sold': 'sum', 'revenue': 'median'})

             Units Sold  revenue
Coffee Type
Espresso            265    159.6
Latte               195    149.7