# **Top 5 data roles**

- calculate top 5 roles base on job_title_short column

In [1]:
# Importing Libraries
import ast
import pandas as pd
import seaborn as sns
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [4]:
# Filtering Data to just France data
df_FR = df[df['job_country'] == 'France']

### use explode method to split each skill to a line in order to perform count operation later

In [15]:
df_FR_skills = df_FR.explode('job_skills')
df_FR_skills[['job_title', 'job_skills']]

                                          job_title job_skills
12      Stagiaire Data Analyst (H/F) - Lyon (69006)        sql
12      Stagiaire Data Analyst (H/F) - Lyon (69006)        php
12      Stagiaire Data Analyst (H/F) - Lyon (69006)      excel
12      Stagiaire Data Analyst (H/F) - Lyon (69006)   power bi
12      Stagiaire Data Analyst (H/F) - Lyon (69006)        sap
...                                             ...        ...
785693                     Senior Data Scientist BI     pandas
785693                     Senior Data Scientist BI      numpy
785693                     Senior Data Scientist BI      keras
785693                     Senior Data Scientist BI    pytorch
785693                     Senior Data Scientist BI      visio

[181960 rows x 2 columns]

### count skills per kob_title (count using groupby)

In [29]:
# Group by job_skills and job_title_short and count the number of occurrences
df_FR_skills_count = df_FR_skills.groupby(['job_skills', 'job_title_short']).size()

# Name the count column as count
df_FR_skills_count = df_FR_skills_count.reset_index(name='skill_count')

# Sort the values by skill_count in descending order
df_FR_skills_count.sort_values(by='skill_count', ascending=False, inplace=True)

In [38]:
# unique list of job titles
job_titles_uniques = df_FR_skills_count['job_title_short'].unique().tolist()

#top 5 job titles
job_titles_uniques[:5]

['Data Scientist',
 'Data Analyst',
 'Data Engineer',
 'Senior Data Engineer',
 'Senior Data Scientist']