In [1]:
#Data Analysis

from datasets import load_dataset

c:\Users\oemiri\AppData\Local\anaconda3\envs\learn_python_venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import pandas as pd
import numpy as np

In [3]:
#dataset for pandas pratice

gion = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/noc_regions.csv')
bios = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/bios.csv')
coffee = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv')
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

In [ ]:
#cleanup job_posted_date to date
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

#df.info() # verifiy that this is done

In [ ]:
#add new columns based on other columns
df['is_data_analyst'] = (df['job_title_short'] == 'Data Analyst').astype(int)
df['job_posted_month'] = df.job_posted_date.dt.month

In [ ]:
#sort the data frame
df.sort_values(by='job_posted_date', inplace= True)

In [ ]:
#drop unnecessary columns
df.drop('salary_hour_avg', axis=1, inplace=True)

In [ ]:
#remove null or NaN values
df.dropna(axis=0, subset=['salary_year_avg'], inplace=True)

In [ ]:
#analyse the dataset
salary_min_line = df['salary_year_avg'].idxmin()

In [ ]:
#group data
df.groupby(by=['job_title_short', 'job_country'])['salary_year_avg'].agg(['min', 'max', 'median'])

                                            min       max    median
job_title_short   job_country
Business Analyst  Argentina             63000.0   79200.0   71100.0
                  Australia             63000.0  130000.0   70000.0
                  Bangladesh            16500.0   16500.0   16500.0
                  Belgium               72900.0   89100.0   89100.0
                  Bulgaria              63000.0   89100.0   71925.0
...                                         ...       ...       ...
Software Engineer Ukraine               54000.0   54000.0   54000.0
                  United Arab Emirates  79200.0   79200.0   79200.0
                  United Kingdom        89100.0  160000.0   89100.0
                  United States         48982.0  375000.0  130000.0
                  Vietnam               28000.0   79200.0   53600.0

[598 rows x 3 columns]

In [ ]:
#analyse job based on USA only
us_jobs = df[df['job_country'] == 'United States']

In [ ]:
us_jobs.groupby('job_title_short')[['salary_year_avg']].agg(['min', 'max', 'median'])

                          salary_year_avg
                                      min       max    median
job_title_short
Business Analyst                  35000.0  387460.0   90000.0
Cloud Engineer                    42000.0  221844.0  116100.0
Data Analyst                      25000.0  375000.0   90000.0
Data Engineer                     23496.0  525000.0  125000.0
Data Scientist                    30000.0  960000.0  130000.0
Machine Learning Engineer         44408.5  315000.0  150000.0
Senior Data Analyst               35360.0  425000.0  110000.0
Senior Data Engineer              45000.0  375000.0  150000.0
Senior Data Scientist             55000.0  475000.0  155000.0
Software Engineer                 48982.0  375000.0  130000.0

In [ ]:
us_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15766 entries, 108883 to 313161
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title_short        15766 non-null  object
 1   job_title              15766 non-null  object
 2   job_location           15544 non-null  object
 3   job_via                15766 non-null  object
 4   job_schedule_type      15752 non-null  object
 5   job_work_from_home     15766 non-null  bool
 6   search_location        15766 non-null  object
 7   job_posted_date        15766 non-null  datetime64[ns]
 8   job_no_degree_mention  15766 non-null  bool
 9   job_health_insurance   15766 non-null  bool
 10  job_country            15766 non-null  object
 11  salary_rate            15766 non-null  object
 12  salary_year_avg        15766 non-null  float64
 13  company_name           15766 non-null  object
 14  job_skills             14358 non-null  object
 15  job_type_skills        14358 non-null  object
 16  is_data_analyst        15766 non-null  int64
 17  job_posted_month       15766 non-null  int32
dtypes: bool(3), datetime64[ns](1), float64(1), int32(1), int64(1), object(11)
memory usage: 1.9+ MB